In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
172,tt1872194,50000000,83719388,The Judge,Robert Downey Jr.|Robert Duvall|Vera Farmiga|V...,David Dobkin,Defend your Honor.,A successful lawyer returns to his hometown fo...,141,Drama,Village Roadshow Pictures|Warner Bros.|Big Kid...,10/8/2014,7.2,2014
770,tt0822847,60000000,78309131,Priest,Paul Bettany|Cam Gigandet|Karl Urban|Lily Coll...,Scott Stewart,Vampire Killer,"In an alternate world, humanity and vampires h...",87,Action|Fantasy|Horror|Science Fiction|Thriller,Screen Gems|Stars Road Entertainment|Buckaroo ...,5/5/2011,5.3,2011
278,tt0436339,150000000,292817841,G-Force,Sam Rockwell|PenÃ©lope Cruz|Tracy Morgan|Jon F...,Hoyt Yeatman,The world needs bigger heroes,"A team of trained secret agent animals, guinea...",88,Fantasy|Action|Adventure|Family|Comedy,Walt Disney Pictures|Jerry Bruckheimer Films|W...,7/21/2009,5.1,2009
372,tt1014759,200000000,1025467110,Alice in Wonderland,Mia Wasikowska|Johnny Depp|Anne Hathaway|Helen...,Tim Burton,You're invited to a very important date.,"Alice, an unpretentious and individual 19-year...",108,Family|Fantasy|Adventure,Walt Disney Pictures|Team Todd|Tim Burton Prod...,3/3/2010,6.3,2010
1577,tt0318627,45000000,129394835,Resident Evil: Apocalypse,Milla Jovovich|Sienna Guillory|Oded Fehr|Thoma...,Alexander Witt,You're all going to die.,"As the city is locked down under quarantine, A...",94,Horror|Action|Science Fiction,Impact Pictures|Constantin Film Ltd.,9/10/2004,6.1,2004

In [11]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
budget,1889.0,5.431083e+07,4.858721e+07,5000000.0,20000000.0,38000000.0,72000000.0,3.800000e+08
revenue,1889.0,1.553653e+08,2.146698e+08,2033165.0,34560577.0,83615414.0,178262620.0,2.781506e+09
runtime,1889.0,1.096585e+02,1.801704e+01,63.0,97.0,107.0,120.0,2.140000e+02
vote_average,1889.0,6.140762e+00,7.647633e-01,3.3,5.6,6.1,6.6,8.100000e+00
release_year,1889.0,2.007861e+03,4.468841e+00,2000.0,2004.0,2008.0,2012.0,2.015000e+03
profit,1889.0,1.010545e+08,1.830733e+08,-165710090.0,5000000.0,44000410.0,120184237.0,2.544506e+09

# Предобработка

In [48]:
answers = {'1':'Pirates of the Caribbean: On Stranger Tides (tt1298650)', 
           '2':'Gods and Generals (tt0279111)', 
           '3':'Winnie the Pooh (tt1449283)',
           '4':'110',
           '5':'107', 
           '6':'Avatar (tt0499549)', 
           '7':'The Lone Ranger (tt1210819)', 
           '8':'1478', 
           '9':'The Dark Knight (tt0468569)', 
           '10':'The Lone Ranger (tt1210819)', 
           '11':'Drama', 
           '12':'Drama', 
           '13':'Peter Jackson', 
           '14':'Robert Rodriguez', 
           '15':'Chris Hemsworth', 
           '16':'Matt Damon', 
           '17':'Action',
           '18':'K-19: The Widowmaker (tt0267626)', 
           '19':'2015',
           '20':'2014', 
           '21':'Сентябрь', 
           '22':'450', 
           '23':'Peter Jackson', 
           '24':'Four By Two Productions', 
           '25':'Midnight Picture Show', 
           '26':'Inside Out, The Dark Knight, 12 Years a Slave', 
           '27':'Daniel Radcliffe & Rupert Grint'}
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit']=round(data['revenue']-data['budget'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '3. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [13]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [19]:
# можно добавлять разные варианты решения
data.loc[data['budget']==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [15]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [16]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [17]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [22]:
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
len(data[data.revenue>data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
data_2008=data[(data.release_year==2008)]
data_2008[data_2008.revenue==data_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
data_2012_20014=data[(data.release_year>2011)&(data.release_year<2015)]
data_2012_20014[data_2012_20014.profit==data_2012_20014.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [26]:
genres_list = data.genres.str.cat(sep='|').split(sep='|')
c = Counter(genres_list).most_common(3)
c

[('Drama', 782), ('Comedy', 683), ('Thriller', 596)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
data_profit=data[data.profit>0]
genres_list = data_profit.genres.str.cat(sep='|').split(sep='|')
c = Counter(genres_list).most_common(3)
c

[('Drama', 560), ('Comedy', 551), ('Thriller', 446)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
director = data.director.str.cat(sep='|').split('|')
pd.Series({x: sum(data[data.director.str.contains(x)].revenue) for x in director}
         ).sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [30]:
data_action = data[data.genres.str.contains("Action")]
director_list = data_action.director.str.cat(sep='|').split('|')
c = Counter(director_list).most_common(2)
c

[('Robert Rodriguez', 9), ('Michael Bay', 7)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [31]:
data_2012 = data[data.release_year == 2012]
cast_list = data_2012.cast.str.cat(sep='|').split('|')
pd.Series({x: sum(data_2012[data_2012.cast.str.contains(x)].revenue) for x in cast_list}
         ).sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
                         ...
Michael Nyqvist          3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [32]:
data_big_budg = data[data.budget > data.budget.mean()]
cast_list_big = data_big_budg.cast.str.cat(sep='|').split('|')
c = Counter(cast_list_big).most_common(3)
c

[('Matt Damon', 18), ('Adam Sandler', 17), ('Angelina Jolie', 16)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [33]:
data_cage = data[data.cast.str.contains('Nicolas Cage')]
genres_list_cage = data_cage.genres.str.cat(sep='|').split(sep='|')
c = Counter(genres_list_cage).most_common(3)
c

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

# 18. Самый убыточный фильм от Paramount Pictures

In [34]:
data_production_companies = data[data.production_companies.str.contains('Paramount Pictures')]
data_production_companies.groupby(['original_title'])[['profit']].sum().sort_values(['profit'],ascending=True).head(1)

                        profit
original_title
K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [35]:
data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'],ascending=False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [36]:
data_warner = data[data.production_companies.str.contains('Warner Bros')]
data_warner.groupby(['release_year'])[['profit']].sum().sort_values(['profit'],ascending=False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [37]:
c=Counter(data.release_date.apply(lambda x: x.split('/')[0])).most_common(3)
c

[('9', 227), ('12', 190), ('10', 186)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [38]:
data['month']=data.release_date.apply(lambda x: x.split('/')[0])
len(data[(data.month > '5')&(data.month < '9')])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [39]:
data_winter=data[(data.month > '11')&(data.month < '3')]
director_list = data_winter.director.str.cat(sep='|').split('|')
c = Counter(director_list).most_common(1)
c

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [40]:
data['len_name']=data.original_title.apply(lambda x: len(x))
data.loc[data['len_name']==data.len_name.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,11,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [44]:
data['prod_co'] = data['production_companies'].apply(lambda c: c.split(sep = '|'))
data_to_work = data[['overview', 'prod_co']]
data_new = data_to_work.explode('prod_co')
data_new['len_1'] = data_new['overview'].str.split(' ').apply(len)
data_new.groupby(['prod_co']).len_1.mean().sort_values(ascending = False).head(1)

prod_co
Midnight Picture Show    175.0
Name: len_1, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [45]:
data_26 = data[['vote_average', 'original_title']].sort_values(by = 'vote_average', ascending = False)
data_26['original_title'][0:(int(len(data.index)*0.01))]

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [46]:
actors_and_actor_counter = Counter()
for i in range(len(data)):
    temp_list = data.iloc[i]['cast'].split('|')
    for actor1 in temp_list:
        new_list = temp_list.copy()
        new_list.remove(actor1)
        for actor2 in new_list:
             actors_and_actor_counter[(actor1, actor2)] += 1

actors_and_actor_counter.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [49]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [50]:
# и убедиться что ни чего не пропустил)
len(answers)

27